# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
bin/release/trab2
bin/release/trab1
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
bin/
build/
trab1.out
ListaGenerica.c
ListaGenerica.h
auxFolder/
Lorenzo.c
